.right {
  display: flex;
  float: right;
  font-size: large;
  margin-left: 800px;
}
.sticky {
  position: fixed;
  top: 0;
  text-decoration: none;
  display: block;
}
@media (max-width: 992px) {
  .right {
    margin-left: auto;
  }
}
.ttr {
  margin-left: 30px;
  font-size: x-large;
  font-weight: 500;
}
.ttr:hover {
  background-color: rgb(216, 217, 217);
  color: black;
  border-radius: 20px;
}
.appo {
  margin-left: 30px;
  margin-top: 0%;
  padding: 5px;
  background-color: rgb(21, 213, 227);
  color: black;
  font-weight: bolder;
  border-radius: 30px;
}
